# Ignore virtual environment
venv/


# Python bytecode files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.virtualenv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# MacOS Finder settings
.DS_Store

# Windows Thumbs.db
Thumbs.db

# Log files
*.log

# Test coverage report files
.coverage
nosetests.xml
coverage.xml
*.cover

# Environment variables file (for example, .env)
.env

# If you use an IDE like PyCharm, VS Code, etc. or any other text editor that may generate configuration files, include them here
*.swp
*.swo
